div{ 
    background-color: burlywood;
}
button:hover {
            background-color: red;
            color: white;
        }

        label.checkbox {
            color: green;
        }

        label.course-label:hover {
            color: grey;
        }

        div {
            border: 2px solid black;
            padding: 10px;
            text-align: left;
            width: 400px;
            margin: 50px auto;
        }